<div class="jumbotron main">
  <div class="container">
    <img src="img/logo.png" alt="..." >
    <div class="page-header top1">
      <h1>Kebab Project <br> <small>Agile toolbox for <br>ruby web developers</small></h1>
      <div class="btn-header">
        <button type="button" class="btn btn-lg btn-danger"><i class="fa fa-flag"></i> Get Started</button>
        <div class="icons btn-icons">
         <a href="https://github.com/kebab-project" target="_blank"> <i class="fa fa-github "></i>  </a>
          <i class="fa fa-comments "></i>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="page-header">
    <h1>ToolBox<small>...</small></h1>
  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Hierapolis</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Builder</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Blankable</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Hierapolis-Rails</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">l12n</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Kangal</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Katip</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Recipes-matic</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Cybele</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Kebab-Remote-Api</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Model-To-Locale</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Spe</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">kebapress</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
</div>
<div class="foot">
  <div class="container footer">
    <ul class="footer-ul">
      <p>Support</p>
      <li>Forum</li>
    </ul>
    <ul class="footer-ul">
      <p>Enterprise</p>
    </ul>
    <ul class="footer-ul">
      <p>Communıty</p>
      <li>Forum</li>
    </ul>
    <ul class="footer-ul">
      <p>Social Network</p>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>G+</li>
    </ul>
  </div>
</div>


