<div class="jumbotron main">
  <div class="container">
    <img src="img/logo.png" alt="..." >
    <div class="page-header top1">
      <h1>Kebab Project <br> <small>Agile toolbox for <br>ruby web developers</small></h1>
      <div class="btn-header">
        <a href="https://github.com/kebab-project"  target="_blank"> <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-github fa-lg">&nbsp &nbspFollow on Github</i></button></a>
        <a href="http://community.kebab-project.org/"  target="_blank"> <button type="button" class="btn btn-info btn-lg"><i class="fa fa-comment-o fa-lg">&nbsp &nbspAsk to Community</i></button></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="page-header">
    <h1>ToolBox</h1>
  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Hierapolis</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=hierapolis&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=hierapolis&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>


      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Builder</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=builder&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=builder&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Blankable</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=blankable&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=blankable&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Hierapolis-Rails</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=hierapolis-rails&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=hierapolis-rails&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">l12n</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=l12n&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=l12n&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Kangal</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=kangal&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=kangal&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Katip</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=katip&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=katip&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Recipes-matic</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=recipes_matic&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=recipes_matic&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Cybele</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=cybele&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=cybele&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Kebab-Remote-Api</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=kebab-remote-api&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=kebab-remote-api&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Model-To-Locale</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=model_to_locale&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=model_to_locale&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Spe</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=spe&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=spe&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">kebapress</div>
      <div class="gh-button icons">
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=kebapress&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=kebab-project&repo=kebapress&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

      </div>
    </div>
    </div>


  <div class="item-list">
      <img src="img/soon.png" alt="..." class="img-circle">
      <div class="icon-list">
        <div class="title">Cooming soon...</div>
        <div class="gh-button icons">


        </div>
      </div>
  </div>

  <div class="item-list">
      <img src="img/soon.png" alt="..." class="img-circle">
      <div class="icon-list">
        <div class="title">Cooming soon...</div>
        <div class="gh-button icons">

        </div>
      </div>
  </div>

<div class="item-list">
  <img src="img/soon.png" alt="..." class="img-circle">
  <div class="icon-list">
    <div class="title">Cooming soon...</div>
    <div class="gh-button icons">

    </div>
  </div>

</div>

  </div>
</div>
<div class="foot">
  <div class="container">
    <ul class="footer-ul">
      <p>Support</p>
      <li><a target="_blank" href="http://community.kebab-project.org/"> Forum</a></li>

    </ul>
    <ul class="footer-ul">
      <p>Enterprise</p>
      <li><a target="_blank" href="http://lab2023.com">Lab2023 AŞ</a></li>
    </ul>
    <ul class="footer-ul">
      <p>Communıty</p>
      <li><a target="_blank" href="http://community.kebab-project.org/">Forum</a></li>
    </ul>
    <ul class="footer-ul">
      <p>Social Network</p>
      <li><a target="_blank" href="http://facebook.com/lab2023">Facebook </a></li>
      <li><a target="_blank" href="http://twitter.com/lab2023/">Twitter</a></li>
      <li>G+</li>
    </ul>
  </div>

</div>


