<div class="jumbotron main">
  <div class="container">
    <img src="img/logo.png" alt="..." >
    <div class="page-header top1">
      <h1>Kebab Project <br> <small>Agile toolbox for <br>ruby web developers</small></h1>
      <div class="btn-header">
        <a href="https://github.com/kebab-project"  target="_blank"> <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-github fa-lg">&nbsp &nbspFollow on Github</i></button></a>
        <a href="http://community.kebab-project.org/"  target="_blank"> <button type="button" class="btn btn-info btn-lg"><i class="fa fa-comment-o fa-lg">&nbsp &nbspAsk to Community</i></button></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="page-header">
    <h1>ToolBox</h1>
  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." >
    <div class="icon-list">
      <div class="col-md-12"><p>Hierapolis</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>
  </div>

  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="...">
    <div class="icon-list">
      <div class="col-md-12"><p>Builder</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="col-md-12"><p>Blankable</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="col-md-12"><p>Hierapolis-Rails</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="col-md-12"><p>l12n</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="col-md-12"><p>Kangal</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="col-md-12"><p>Katip</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="col-md-12"><p>Recipes-matic</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="col-md-12"><p>Cybele</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="col-md-12"><p>Kebab-Remote-Api</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="col-md-12"><p>Model-To-Locale</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." >
    <div class="icon-list">
      <div class="col-md-12"><p>Spe</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons">
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-list">
    <img src="img/kebab-i.png" alt="..." >
    <div class="icon-list">
      <div class="col-md-12"><p>Kebapress</p><p>Lorem ipsum dolor sit amet...</p></div>
      <div class="gh-button icons"><a href="https://github.com/kebab-project/hierapolis" target="_blank"> <i class="fa fa-github fa-lg"></i></a>
        <a href="https://github.com/kebab-project/hierapolis" target="_blank"><i class="fa fa-code-fork fa-lg"></i> </a>
        <a href="http://community.kebab-project.org/categories/hierapolis-rails" target="_blank"><i class="fa fa-comment fa-lg"></i> </a>
      </div>
    </div>
    </div>


  <div class="col-md-4 item-list">
      <img src="img/soon.png" alt="..." >
      <div class="icon-list">
        <div class="col-md-12"><p>Cooming soon...</p></div>
        <div class="gh-button icons">


        </div>
      </div>
  </div>



  </div>
</div>
<div class="foot">
  <div class="container">
    <ul class="footer-ul">
      <p>Support</p>
      <li><a target="_blank" href="http://community.kebab-project.org/"> Forum</a></li>

    </ul>
    <ul class="footer-ul">
      <p>Enterprise</p>
      <li><a target="_blank" href="http://lab2023.com">Lab2023 AŞ</a></li>
    </ul>
    <ul class="footer-ul">
      <p>Communıty</p>
      <li><a target="_blank" href="http://community.kebab-project.org/">Forum</a></li>
    </ul>
    <ul class="footer-ul">
      <p>Social Network</p>
      <li><a target="_blank" href="http://facebook.com/lab2023">Facebook </a></li>
      <li><a target="_blank" href="http://twitter.com/lab2023/">Twitter</a></li>
      <li>G+</li>
    </ul>
  </div>

</div>


