<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron main">
  <div class="container">
    <img src="http://placehold.it/250x250" alt="..." class="img-circle">
    <div class="page-header top1">
      <h1>Kebab Project <br> <small>Agile toolbox for ruby web developers</small></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="page-header">
    <h1>ToolBox<small>Subtext for header</small></h1>
  </div>
  <div class="item-list">
    <img src="http://placehold.it/150x150" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Hierapolis</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="http://placehold.it/150x150" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Title</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="http://placehold.it/150x150" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Title</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="http://placehold.it/150x150" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Title</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="http://placehold.it/150x150" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Title</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="http://placehold.it/150x150" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Title</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="http://placehold.it/150x150" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Title</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
  <div class="item-list">
    <img src="http://placehold.it/150x150" alt="..." class="img-circle">
    <div class="icon-list">
      <div class="title">Title</div>
      <div class="icons">
        <i class="fa fa-github fa-lg"></i>
        <i class="fa fa-code-fork fa-lg"></i>
        <i class="fa fa-comments fa-lg"></i>
      </div>
    </div>

  </div>
</div>
<div class="foot">
  <div class="container footer">
    <ul class="footer-ul">
      <p>Support</p>
      <li>Forum</li>
    </ul>
    <ul class="footer-ul">
      <p>Enterprise</p>
    </ul>
    <ul class="footer-ul">
      <p>Communıty</p>
      <li>Forum</li>
    </ul>
    <ul class="footer-ul">
      <p>Social Network</p>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>G+</li>
    </ul>
  </div>
</div>

</body>
</html>
