---
title: Kebab-Project
---
<div class="container">
  <div class="col-lg-12">
     <p>Kebab Project</p>
    <img src="img/logo.png">
  </div>
      <div class="span">
        <div class="page-header">ToolBox</div>


           <div class="col-lg-4">
               <li>
                <img src="http://placehold.it/150x150" alt="..." class="img-circle">
               </li>
            <div class="item-title">Title</div>
            <div class="item-list">
              <ul class="item-liste">
                <li><span class="glyphicon glyphicon-search"></span> </li>
                <li><span class="glyphicon glyphicon-download"></span> </li>
                <li><span class="glyphicon glyphicon-cloud"></span> </li>
                <li><span class="glyphicon glyphicon-envelope"></span> </li>
                <li><span class="glyphicon glyphicon-filter"></span> </li>
              </ul>
            </div>
            </div>


              <div class="col-lg-4">
                  <li>
                    <img src="http://placehold.it/150x150" alt="..." class="img-circle">
                  </li>
              <div class="item-title">Title</div>
              <div class="item-list">
                <ul class="item-liste">
                  <li><span class="glyphicon glyphicon-search"></span> </li>
                  <li><span class="glyphicon glyphicon-download"></span> </li>
                  <li><span class="glyphicon glyphicon-cloud"></span> </li>
                  <li><span class="glyphicon glyphicon-envelope"></span> </li>
                  <li><span class="glyphicon glyphicon-filter"></span> </li>
                </ul>
              </div>
              </div>

                <div class="col-lg-4">
                    <li>
                      <img src="http://placehold.it/150x150" alt="..." class="img-circle">
                    </li>
                <div class="item-title">Title</div>
                <div class="item-list">
                  <ul class="item-liste">
                    <li><span class="glyphicon glyphicon-search"></span> </li>
                    <li><span class="glyphicon glyphicon-download"></span> </li>
                    <li><span class="glyphicon glyphicon-cloud"></span> </li>
                    <li><span class="glyphicon glyphicon-envelope"></span> </li>
                    <li><span class="glyphicon glyphicon-filter"></span> </li>
                  </ul>
                </div>
                </div>

                  <div class="col-lg-4">
                      <li>
                        <img src="http://placehold.it/150x150" alt="..." class="img-circle">
                      </li>
                  <div class="item-title">Title</div>
                  <div class="item-list">
                    <ul class="item-liste">
                      <li><span class="glyphicon glyphicon-search"></span> </li>
                      <li><span class="glyphicon glyphicon-download"></span> </li>
                      <li><span class="glyphicon glyphicon-cloud"></span> </li>
                      <li><span class="glyphicon glyphicon-envelope"></span> </li>
                      <li><span class="glyphicon glyphicon-filter"></span> </li>
                    </ul>
                  </div>
                  </div>

                <div class="col-lg-4">
                    <li>
                      <img src="http://placehold.it/150x150" alt="..." class="img-circle">
                    </li>
                <div class="item-title">Title</div>
                <div class="item-list">
                  <ul class="item-liste">
                    <li><span class="glyphicon glyphicon-search"></span> </li>
                    <li><span class="glyphicon glyphicon-download"></span> </li>
                    <li><span class="glyphicon glyphicon-cloud"></span> </li>
                    <li><span class="glyphicon glyphicon-envelope"></span> </li>
                    <li><span class="glyphicon glyphicon-filter"></span> </li>
                  </ul>
                </div>
                </div>

                  <div class="col-lg-4">
                      <li>
                        <img src="http://placehold.it/150x150" alt="..." class="img-circle">
                      </li>
                  <div class="item-title">Title</div>
                  <div class="item-list">
                    <ul class="item-liste">
                      <li><span class="glyphicon glyphicon-search"></span> </li>
                      <li><span class="glyphicon glyphicon-download"></span> </li>
                      <li><span class="glyphicon glyphicon-cloud"></span> </li>
                      <li><span class="glyphicon glyphicon-envelope"></span> </li>
                      <li><span class="glyphicon glyphicon-filter"></span> </li>
                    </ul>
                  </div>
                  </div>

          </div>

          <div class="span">
           <ul class="col-lg-3">
             <li>deneme1</li>
           </ul>
           <ul class="col-lg-3">
             <li>deneme1</li>
             <li>deneme2</li>
             <li>deneme3</li>
           </ul>
            <ul class="col-lg-3">
              <li>deneme1</li>
              <li>deneme2</li>
              <li>deneme3</li>
            </ul>
            <ul class="col-lg-3">
              <li>deneme1</li>
              <li>deneme2</li>
              <li>deneme3</li>
            </ul>

          </div>


  </div>
